

<div class="container">
  <%= link_to 'Vorige', 'javascript:history.go(-1);' %>
  <% provide(:title, "Wachtwoord vergeten") %>
  <h1 class="page-title center">Wachtwoord vergeten? <br> Dat kan gebeuren.</h1>
  <p class="center">
    Voer je e-mailadres in en druk op bevestig. Dan stuur ik je een
    verificatiecode toe. Hiermee kun je jou wachtwoord veranderen.
  </p>
      <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <%= f.email_field :email, placeholder: "E-mail...", class: 'form-control', class:"input" %>
        <%= f.submit "Submit", class: "button blue" %>
      <% end %>
</div>
