<h1>Artikelen</h1>
____________________________________________________________________

<% @article.each do |article| %>
<ul><h2>
  <%= link_to article.title, article %>
  <%= article.created_at.strftime("%e-%m") %>
</h2></ul>
____________________________________________________________________
<% end %>
<br />
<%= link_to "Nieuw artikel", new_article_path %>