Gefeliciteerd, het aanmaken van een account is gelukt!

Zal ik je uitleggen hoe de applicatie werkt?

  <p><%= f.submit "Nee bedankt, liever niet" %></p>
  <p><%= f.submit "Ja graag, leg het me uit" %></p>
