
Om aan te melden heb ik nog wat meer gegevens van je nodig. <br />
Het invullen is zo klaar. <br />

<%= f.email_field :email, placeholder: "Email.." %> <br />
<%= f.password_field :password, placeholder: "Wachtwoord.." %> <br />
<%= f.password_field :password_confirmation, placeholder: "Bevestig wachtwoord.." %> <br />

  <p><%= f.submit "Account aanmaken!" %></p>
