Om aan te melden heb ik nog wat gegevens van je nodig. <br />
Het invullen is zo klaar. <br />

<%= f.text_field :firstname, placeholder: "Voornaam.." %> <br />

  <p><%= f.submit "Begrepen" %></p>
