<% @back_or_search = "back" %>
<%= render 'shared/header' %>

<% provide(:button_text, "Wijzigingen opslaan")%>
<h1>Update je profiel</h1>

<%= render 'form' %>

<%= render 'shared/tabbar' %>
