<h1>Favoriete Artikelen</h1>

<% @user.favorites.each do |article| %>
<ul><h2>
  <%= link_to article.title, article %>
  <%= article.created_at.strftime("%e-%m") %>

<% if @favorite %>
  <%= form_for([@article, @favorite], method: "delete") do %>
    <%= submit_tag "Remove favorite" %>
  <% end %>
</h2></ul>
  -----------------------------------
<% end %>
<% end %>