<% provide(:title, @user.username) %>

        <%= @user.username %>

    <%= link_to "Ga naar artikelen", articles_path %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>

<%= link_to "Log out", logout_path, method: "delete" %>