<header class="header">
  <% if @back_or_search == "back" %>
    <%= link_to 'terug', 'javascript:history.go(-1);', class:"icon back" %>

  <% elsif @back_or_search == "search" %>
    <%= form_tag(articles_path, :method => "get", id: "tag") do %>
      <%= search_field_tag :tag, params[:tag], class:"input" %>  
    <% end %>
  <% end %>

  <span class="logo">Floor</span>

  <%= link_to "Menu", current_user, class: "icon menu"  %>
</header>
