<div class="tabbar">
  <%= link_to "Favorieten", favorites_path, class: "tabs"  %>
  <%= link_to "Artikelen", articles_path, class: "tabs" %>
  <%= link_to "Diaclopedie", facts_path, class: "tabs"  %>
</div>
