<div class="section container">
  <% content_for :body_class, 'onboarding' %>
  <h1 class="page-title center">Welkom bij Floor!</h1>

  <p class="center">
    Floor en de diabetes specialisten kunnen je helpen bij diabetes problemen. <br />
    Maak een keuze voor inloggen of aanmelden en dan kunnen we beginnen. <br />
  </p>
</div>

<div class="section image">
  <img class="floorfamily" src="<%= asset_path( 'Floor_inlog.svg' ) %>" />
</div>

<div class="section action">
  <%= link_to "Inloggen", login_path, class:"button blue" %>
  <%= link_to "Aanmelden", signup_path, class:"button white" %>
</div>
