html, body {
  width: 100%;
  height: 100%;
}

main {
  // margin: 0 0 50px;
  padding: 40px 0 50px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
*::selection {
  background:transparent;
}

.container{
  padding: 0 20px;
}

a{
  color:$highlight;
  text-decoration:none;
}

pre.debug_dump{
  display: none;
}

@media (min-width:500px) {
  .mobile{display: none;}
  .desktop{display:block;}
}

ul.enumeration{
  padding: 0 0 20px 0;

  li{
    position: relative;
    padding: 0 0 0 20px;
    &:before {
      padding: 5px 0 0 0;
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 10px;
      position: absolute;
      top: 7px;
      left: 0;
      background:$patrick;
    }
  }
}
