html, body {
  width: 100%;
  height: 100%;
}

main {
  // margin: 0 0 50px;
  padding: 40px 0 50px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
*::selection {
  background:transparent;
}

.container{
  padding: 0 20px;
}

a{
  color:$highlight;
  text-decoration:none;
}

pre.debug_dump{
  display: none;
}

@media (min-width:500px) {
  .mobile{display: none;}
  .desktop{display:block;}
}

ul.enumeration{
  padding: 0 0 20px 0;

  li{
    position: relative;
    padding: 0 0 0 20px;
    &:before {
      padding: 5px 0 0 0;
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 10px;
      position: absolute;
      top: 7px;
      left: 0;
      background:$patrick;
    }
  }
}


// REMINDER MOVE TO CORRECT SCSS FILE

//specialist index
.specialisten{
  padding: 20px 0;
}
.specialist{
  padding: 5px 10px;
  .admin-buttons{
    padding: 0;
  }
  li:first-child{
    color:$barbie 1px solid;
    text-align: center;
    border-bottom:$barbie 1px solid;
  }

  &:nth-child(odd){
    background: $odd;
  }
  &:nth-child(even){
    background: $even;
  }
}

//specialist bio page
.specialist-bio{
  margin: 10px 0;

  li{
    margin: 10px 0;
  }
  lable{
    color: $barbie;
  }
}

//specialist edit page
.specialist-new{
  main{
    padding: 0;
    display: block;
    position: relative;
    height: 100%;
  }
  section{
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
  }
}

.specialist-edit {
  background: $purplerain;
  padding: 20px 0 60px;
  .form{
    margin: -38px 0 0 0;
  }
  form{
    padding: 0 20px;
  }
}
