.header{
  position:fixed;
  top: 0;
  z-index:999;
  height:40px;
  width:100%;
  background-color: $header;
  display:flex;
  justify-content:space-between;
  align-items:center;
  @include box-shadow;
}


.header.icon.search {
    display: block;
    position: relative;
}

.icon.search:before {
    content: "j";
    font-family: "floor-font";
    color: white;
    position: absolute;
    font-size: 25px;
    padding: 0 0 0 20px;
    line-height: 12px;
}

.header .icon.menu {
    color: transparent !important;
    display: block;
    position: relative;
}

.icon.menu:before {
    content: "h";
    font-family: "floor-font";
    color: white;
    position: absolute;
    font-size: 25px;
    padding: 5px 0 0 0;
}

.header .icon.back {
    color: $white;
    display: block;
    position: relative;
    padding: 0 0 0 30px;
}

.icon.back:before {
    content: "a";
    font-family: "floor-font";
    color: white;
    position: absolute;
    font-size: 25px;
    left: 10px;
    top: 6px;
}

.icon.back.grey {
    color: $lines;
    display: block;
    position: relative;
    padding: 11px 0 0 30px;
    font-family: "Rubik"
}

.icon.back.grey:before {
    content: "a";
    font-family: "floor-font";
    color: $lines;
    position: absolute;
    font-size: 35px;
    left: 0;
    top: 20px;
}

.logo{
  color:$white;
  position: absolute;
  transform: translateX(-50%);
  left:50%;
}

#search-bar{
  width:100%;
  position: fixed;
  z-index: 99;
  top:40px;
  transform:translateY(-50px);
  padding:10px 20px 0 20px;
  background-color: $subheader;
  @include transition;

  &.open {
    transform:translateY(0);
  }
}

input {
  outline: none;
}

input[type=search] {
  position: absolute;
  font-size: 16px;
  height: 25px;
  top: 7px;
  margin-left: 10px;
  background: url(search.png) no-repeat 5px center;
  width: 100px;
  border: none;
  box-shadow: none;
  padding-right: 10px;
  padding-left: 32px;
  border-radius: 10em;
  transition: padding-left 0s, background 0s, background-color .5s, width .7s;
  transition-timing-function: ease;
  background-color: transparent;
  width: 55px;
  color: transparent;
  cursor: pointer;
}

input[type=search]:focus {
  background: none;
  padding-left: 10px;
  width: calc(100% - 60px);
  color: #000;
  background-color: #fff;
  cursor: auto;
  @include box-shadow();
}

input::-webkit-input-placeholder {
  color: transparent;
}
