.header{
  z-index:999;
  height:40px;
  width:100%;
  background-color:$purplerain;
  display:flex;
  justify-content:space-between;
  align-items:center;

  .icon a{
    color:$white;
    text-decoration: none;

    font:{
      family: "floor-font";
      size: 25px;
    }
  }
}
