.tabbar{
width:100%;
background:red;
height:50px;


  .tabs{
    display:block;
    width:calc(100%/3);
    text:{
      decoration: none;
      align: center;
    }
    font:{
      family: "Open Sans", sans-serif;
      size:13px;
      color:$textcolor;
    }
    float:left;
  }

  .facts{}

  .article{}

  .diaclopedie{}
}
