//blue tones
$purplerain:        #3D4DBF;
$lesspurplerain:    #505EC5;
$blueberry:         #2D3BA9;

//pink tones
$salmon:            #FC9B98;
$patrick:           #FF93B6;
$barbie:            #F34584;

//supportcollors
$white:             #ffffff;
$input-not-active:  #E6E6E6;
$textcolor:         #3E4957;
$title:             #25318B;
$answers:           #F5F6FB;
$lines:             #D8D8D8;
$image:             #ECECF7;
$highlight:         $barbie;

$header:            $purplerain;
$subheader:         $lesspurplerain;

$even:              #fafafa;
$odd:               #f2f2f2;
