//blue tones
$purplerain:#3D4DBF;
$blueberry:#2D3BA9;

//pink tones
$salmon:#FC9B98;
$patrick:#FF93B6;
$barbie:#F34584;

//supportcollors
$white: #ffffff;
$input-not-active:#E6E6E6;
$textcolor: #3E4957;
$title: #25318B;
