$box-shadow: rgba(0,0,0,.5);
@mixin box-shadow(
    $hPos: 0,
    $vPos: 1px,
    $blur: 2px
  ){
    box-shadow: $hPos $vPos $blur $box-shadow;
}

@mixin transition(
  $prop: all,
  $duration: .2s,
  $easing: ease-out
){
  transition: $prop $duration $easing;
}
