$basecopy: 16px;

@font-face {
  font-family: 'floor-font';
  src:font-url('floor-font.eot?#iefix') format('embedded-opentype'),
      font-url('floor-font.svg#floor-font') format('svg'),
      font-url('floor-font.woff') format('woff'),
      font-url('floor-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  // ✓
}

html,body{
  font-family:'Open Sans', sans-serif;
  font-size: $basecopy; //in rem zetten//
  line-height: 1.6em;
  color: $textcolor;
}

h1,h2,h3,h4,h5,h6{
  font:{
    family: 'Rubik', sans-serif;
    weight: 500;
  }
    color: $title;
}

.page-title{
  font-size:24px;
  line-height:32px;
  padding:10px 20px;
}

.paragraph-title{
  font-size:18px;
  line-height:27px;
}

.quiz-text{
  font-size:18px;
  line-height:27px;
  color:$white;
}

.basecopy-negative{
  color:$white;
}
