$basecopy: 16px;

html,body{
  font-family:'Open Sans', sans-serif;
  font-size: $basecopy; //in rem zetten//
  line-height: 1.6em;
  color: $textcolor;
}

h1,h2,h3,h4,h5,h6{
  font:{
    family: 'Rubik', sans-serif;
    weight: 500;
  }
    color: $title;
}

.page-title{
  font-size:24px;
  line-height:32px;
}

.paragraph-title{
  font-size:18px;
  line-height:27px;
}

.quiz-text{
  font-size:18px;
  line-height:27px;
  color:$white;
}

.basecopy-negative{
  color:$white;
}
