.button{
  display:inline-block;
  width: 100%;
  padding:10px 20px;
  border-radius:30px;
  margin:5px 0;
  border: 0;

  font:{
    family: 'Rubik',sans-serif;
    weight: 500;
    size:18px;
  }
  text-align:center;
  @include box-shadow();

  &.blue{
    background:$blueberry;
    color:$white;
  }
  &.white{
    background:$white;
    color:$blueberry;
  }
  &.favorite{
    position: relative;
    &:before {
      content: "";
      width: 25px;
      height: 25px;
      position: absolute;
      top: 10px;
      right: 30px;
      background-image: url(/assets/Heart_outline.svg);
      background-repeat: no-repeat;;
      background-size: 25px;
    }
    &-active{
      position: relative;

      &:before {
        content: "";
        width: 25px;
        height: 25px;
        position: absolute;
        top: 10px;
        right: 30px;
        background-image: url(/assets/Heart_full.svg);
        background-repeat: no-repeat;
        background-size: 25px;
      }
    }
  }
}

.admin-buttons{
  margin: auto;
  width: 90%;


  .button{
    margin-left: 10px;
    margin-right: 10px;
    width: calc(50% - 20px);
    float: left;
    padding: 5px 10px;
    font-size: 12px;
  }
}
