.overview-list{
  display: flex;
  flex-direction: column;

  li {
    border-bottom: 1px solid $lines;
    position: relative;
    overflow: hidden;

    &:first-child{
      border-top: 1px solid $lines;
    }
  }

  a:not(.delete){
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 44px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  }

  .delete{
    position: absolute;
    top: 0;
    left: 100%;
    width: 100px;
    height: 100%;
    text-align: center;
    color:$white;
    background: $highlight;

    &:before{
      content:"X";
      display: block;
      font-family: "floor-font";
    }
  }

  h2 {
    flex-basis: calc(100% - 25px);
  }

  .wrapper {
    transform:translatex(-100px);
    @include transition;
  }

  .icon{
    color:$title;
    text-decoration: none;
    font:{
      family: "floor-font";
      size: 25px;
    }
  }
}
