@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rubik:400,500');



//components
$checkbox: $barbie;
$highlight: $barbie;
$highlight-wrong: $barbie;
$highlight-right: $blueberry;

$action-section: rgba(#4d58b4,.85);

$box-shadow: rgba(0,0,0,.5);

@mixin action-section2 {
  height:30px;
  background-color:rgba(#4d58b4,.85);
}

a{
  color:$highlight;
}

//components
.action-section{
  @include action-section2;
}

//bron componant
.article-source{
  font-size:14px;
  line-height:17px;
}

//input fields
input {
  display: block;
  width: 100%;
  padding:5px 20px 5px 40px;
  // border: 5px solid $white;
  border: 1px solid $white;
  border-radius:30px;
  outline: none;
  font-size:$basecopy;
  @include box-shadow();
  margin: 0 0 10px 0 ;
  background-color:$white;

  &.wrong {
    border-color:$highlight-wrong;
  }

  &.right {
    border-color:$highlight-right;
  }
}
